// РАЗМЕРЫ ЭКРАНОВ 
$breakpoint_xxl: 1220px; //Медиа размеры
$breakpoint_xl: 991.98px;
$breakpoint_l: 767.98px;
$breakpoint_md: 479.98px;
$breakpoint_sm: 374.98px;
$breakpoint_xsm: 320.98px;

$maxWidth: 1440; //Макетная ширина
