@use 'mixin' as m;


@include m.desktop{
     h1{
          font-size: 6.5rem;
     }
     h2{
          font-size: 3.5rem;
     }
// HEADER====================================================

// MAIN ===================================================

// STAGES===================================================

// GETTING===================================================

// METTING===================================================
.baner__img{
     top: 0;
}
.baner-btn--left{
     left: -10px;
}
.baner-btn--right{
     right: -10px;
}
.baner-btn{
     top: 80%;
}

// FOOTER ===================================================


}

@include m.laptop{
     h1{
          font-size: 5rem;
     }
    
// HEADER====================================================
.nav{
     grid-template-columns: 0.8fr 2fr;
}   
.nav-menu{
    gap: 15px;
}

// MAIN ===================================================

// STAGES===================================================

// METTING===================================================
.baner-btn{
     top: 80%;
}

// GETTING===================================================
.getting__main{
     flex-direction: column;
     align-items: center;
}
.getting___text, .getting__img{
     width: 100%;
}
.getting__header-btn{
     display: none;
}
.getting-btn{
     display: block;
}
// FOOTER ===================================================
.footer-nav{
     display: flex;
     flex-direction: column;
}   
.nav__title {
     margin-bottom: 60px;
 }
.footer-info__list{
     flex-wrap: wrap;
     justify-content: center;
   }
}

@include m.tablet{
     h1{
          font-size: 3.8rem;
     }
     h2{
          font-size: 2.5rem;
     }
     h3{
          font-size: 2.4rem;
     }
     h4{
          font-size: 1.8rem;
          line-height: 36px;
     }
     h5{
          font-size: 1.5rem;
     }
// HEADER==================================================

    .nav{
        display: flex;
    }
   .burger-menu{
        display: block;
   }
   .burger-menu.active .bar{
        background: var(--color-beige);
        transition-duration: var(--transition-duration);
   }
   .burger-menu.active .bar:nth-child(2){
        opacity: 0;
   }
   .burger-menu.active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }
    .burger-menu.active .bar:nth-child(3){
        transform: translateY(-14px) rotate(-45deg);
    }
    .burger-menu.active{
        border: 1px solid var(--color-beige);
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
   .navbar{
        position: absolute;  
        top: -100%;
        flex-direction: column;
        justify-content: flex-start;
        width: 110%;
        height: 100%;
        background: var(--color-white);
   }
   .nav-menu{
        margin: 20px 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        transition-duration: var(--transition-duration);
   }
   .navbar.active{
        top: 90px;
        left: 0%;
        transition-duration: var(--transition-duration);
   }
// MAIN =================================================== 
   .main{
     background-position: center top 55%;
     background-size: 290px;
   }
   .main-hello, .main-content__left, .scroll{
     display: none;
   }
   .main-title {
     text-align: center;
          h1{
              line-height: 55px;
              margin: 55px 0 15px;
          }
          h2{
              line-height: 50px;
          }
          span{
              color: inherit;
          }
     }
     .main-content__right{
          font-size: 1.8rem;
          text-align: center;
     }
     .main-content{
          margin-top: 400px;
          align-items: center;
          justify-content: center;
     }
     .main-button{
          width: 100%;
          flex-direction: column;
          align-items: center;
     }
// STAGES ===================================================  
.stages__header{
     justify-content: center;
     h3{
          text-align: center;
     }
}
.stages__button{
     display: none;
}
.stages__info{
     display: grid;
     grid-template-columns: none;  
     gap: 50px; 
}
.stages__filter{
     display: none;
}
.stages__column:nth-child(3){
     order: 4;
}
.item-stage__pointer{
     display: flex;
     justify-content: center;
     margin-top: 60px;
}
.stages__job{
     display: none;
}
.job--small{
     position: absolute;
     right: 0;
     display: flex;
     width: 110px;
     height: 110px;
     font-size: 0.8rem;
}

// METTING===================================================
     .baners{
          padding: 0;
          margin: 200px 0 50px;
     }
     .baner__content{
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          padding: 0 15px;
     }
     .baner__info{
          position: relative;
          width: 100%;
          top: -100px;
          margin: 0;
          h4{
               margin: 25px 0 35px;
          }
          img{
               width: 55px;
          }
     }
     .baner__img{
          max-width: 480px;
          width: 100%;
          top: -150px;
          left: 0;
          right: 0;
     }
     .baner-btn{
          display: none;
     }

// GETTING===================================================
.getting___text--number{
     font-size: 4rem;
}
.getting___text{
     font-size: 1rem;
     line-height: 3rem;
}
.getting__header{
     h2{
          font-size: 2rem;
          line-height: 3rem;
     }
}

// FOOTER ===================================================
     .footer-navbar{
          position: relative;
          background: transparent;
     }
     .footer__link{
          font-size: 14px;
     }
     .footer-info__item{
          font-size: 14px;
          
     }
}


@include m.tablet_sm{
// HEADER====================================================

// MAIN ===================================================
.main{
     background-position: center top 60%;
}

//STAGES=====================================================
.item-stage__number{
     font-size: 3REM;
}

// METTING===================================================

// GETTING===================================================
.getting___text--number{
     
}

// FOOTER ===================================================
.footer-info__list{
     text-align: center;
}
}

@include m.mobile{
// HEADER====================================================

// MAIN ===================================================

// STAGES===================================================

// METTING===================================================

// GETTING===================================================

// FOOTER ===================================================
}

@include m.mobile_sm{
     h1{
          font-size: 2.8rem;
     }
     h2{
          font-size: 1.5rem;
     }
// HEADER====================================================

// MAIN ===================================================

// STAGES===================================================

// METTING===================================================

// GETTING===================================================

// FOOTER ===================================================
}
