@use 'mixin' as m;


@include m.desktop{
     h1{
          font-size: 6.5rem;
     }
     h2{
          font-size: 3.5rem;
     }
// HEADER====================================================

// MAIN ===================================================

// FOOTER ===================================================


}

@include m.laptop{
     h1{
          font-size: 5rem;
     }
    
// HEADER====================================================
.nav{
     grid-template-columns: 0.8fr 2fr;
}   
.nav-menu{
    gap: 15px;
}

// MAIN ===================================================

// FOOTER ===================================================
.footer-nav{
     display: flex;
     flex-direction: column;
}   
.nav__title {
     margin-bottom: 60px;
 }
.footer-info__list{
     flex-wrap: wrap;
     justify-content: center;
   }
}

@include m.tablet{
     h1{
          font-size: 3.8rem;
     }
     h2{
          font-size: 2.5rem;
     }
// HEADER==================================================

    .nav{
        display: flex;
    }
   .burger-menu{
        display: block;
   }
   .burger-menu.active .bar{
        background: var(--color-beige);
        transition-duration: var(--transition-duration);
   }
   .burger-menu.active .bar:nth-child(2){
        opacity: 0;
   }
   .burger-menu.active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }
    .burger-menu.active .bar:nth-child(3){
        transform: translateY(-14px) rotate(-45deg);
    }
    .burger-menu.active{
        border: 1px solid var(--color-beige);
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
   .navbar{
        position: absolute;  
        top: -100%;
        flex-direction: column;
        justify-content: flex-start;
        width: 110%;
        height: 100%;
        background: var(--color-white);
   }
   .nav-menu{
        margin: 20px 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        transition-duration: var(--transition-duration);
   }
   .navbar.active{
        top: 90px;
        left: 0%;
        transition-duration: var(--transition-duration);
   }
// MAIN =================================================== 
   .main{
     background-position: center top 55%;
     background-size: 290px;
   }
   .main-hello, .main-content__left, .scroll{
     display: none;
   }
   .main-title {
     text-align: center;
          h1{
              line-height: 55px;
              margin: 55px 0 15px;
          }
          h2{
              line-height: 50px;
          }
          span{
              color: inherit;
          }
     }
     .main-content__right{
          font-size: 1.8rem;
          text-align: center;
     }
     .main-content{
          margin-top: 400px;
          align-items: center;
          justify-content: center;
     }
     .main-button{
          width: 100%;
          flex-direction: column;
          align-items: center;
     }

// FOOTER ===================================================
     .footer-navbar{
          position: relative;
          background: transparent;
     }
     .footer__link{
          font-size: 14px;
     }
     .footer-info__item{
          font-size: 14px;
          
     }
}


@include m.tablet_sm{
// HEADER====================================================

// MAIN ===================================================
.main{
     background-position: center top 60%;
}

// FOOTER ===================================================
.footer-info__list{
     text-align: center;
}
}

@include m.mobile{
// HEADER====================================================

// MAIN ===================================================

// FOOTER ===================================================
}

@include m.mobile_sm{
     h1{
          font-size: 2.8rem;
     }
     h2{
          font-size: 1.5rem;
     }
// HEADER====================================================

// MAIN ===================================================

// FOOTER ===================================================
}
