@use 'mixin' as m;


@include m.desktop{
}

@include m.laptop{
   .nav-menu{
    gap: 15px;
   }
}

@include m.tablet{
    .nav{
        display: flex;
    }
   .burger-menu{
        display: block;
   }
   .burger-menu.active .bar{
        background: var(--color-beige);
        transition-duration: var(--transition-duration);
   }
   .burger-menu.active .bar:nth-child(2){
        opacity: 0;
   }
   .burger-menu.active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }
    .burger-menu.active .bar:nth-child(3){
        transform: translateY(-14px) rotate(-45deg);
    }
    .burger-menu.active{
        border: 1px solid var(--color-beige);
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
   .navbar{
        position: fixed;
        top: -100%;
        flex-direction: column;
        justify-content: flex-start;
        width: 110%;
        height: 100%;
        background: var(--color-white);
   }
   .nav-menu{
        margin: 20px 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        transition-duration: var(--transition-duration);
   }
   .navbar.active{
        top: 16%;
        left: 0%;
        transition-duration: var(--transition-duration);
   }


}


@include m.tablet_sm{
}

@include m.mobile{
}

@include m.mobile_sm{
}
