.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
    align-items: stretch;
	min-height: 100%;
}

.inner{
    max-width: 1475px; 
    padding: 0 15px;
	margin: 0 auto;
}

// HEADER===================================================================================================================

.header {
    margin-top: 20px;
    
}

.nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;

}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-menu--right, .footer__item{
    a{
        &:hover{
            color: var(--color-beige);
        }
    }
}
.nav-item--icon{
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-link{
    font-family: "Roboto", sans-serif;
}
.nav-link--tel{
    font-family: Impact, serif;
}
.burger-menu {
    position: relative;
    display: none; 
    width: 55px;
    height: 36px;
    background:transparent;
}
.bar{
    display: block;
    width: 100%;
    height: 4px;
    margin: 9px auto;
    background: var(--color-black);
   
}


// MAIN =====================================================

.main {
    font-family: Roboto, sans-serif;
    margin-top: 15px;
    background: url(./img/main.png) no-repeat center 0%;
}

.main-hello {
    margin: 0 auto;
    text-align: center;
}
.main-title {
    text-align: center;
    h1{
        line-height: 105px;
        margin: 55px 0 30px;
    }
    h2{
        line-height: 80px;
    }
    span{
        color: transparent;
        -webkit-text-stroke: .0625rem #000;
        text-shadow: none;
    }
}
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.main-info {
    max-width: 440px;
}
.main-info__text {
    line-height: 24px;
    margin-bottom: 50px;
}
.main-info__post {
    color: var(--color-beige);
    font-style: italic;
    margin-bottom: 18px;
}
.main-info__name {
    color: var(--color-beige);
    font-weight: 500;
}

.main-content__right {
    font-family: var(--font-family-base);
    font-size: 30px;
    line-height: 42px;
    max-width: 400px;
}
.main-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

// STAGES===========================================

.stages{
    margin-top: 120px;
}

.stages__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.stages__info {
    margin-top: 130px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}
.stages__column {
}

.item-stage {
}
.item-stage__header {
    display: flex;
    align-items: center;
    gap: 30px;
}
.item-stage__number {
    color: var(--color-beige);
    font-size: 5rem;
    font-weight: 400;
    line-height: 58px;
}
.--text{
    font-size: 1rem;
    font-family: Roboto, sans-serif;
}
.item-stage__titile {
}
.item-stage__start-text {
}
.item-stage__sub-title {
    margin:45px 0 30px;
}
.item-stage__finish-text {
    margin-bottom: 30px;
}
.item-stage__link {
    color: var(--color-beige);
    &::after{
        content: url(./img/Union.svg);
        margin-left: .25rem;
    }
}
.item-stage__pointer {
}

.job {
    display: flex;
    width: 160px;
    height: 160px;
    padding: 13px;
    border: 2px solid var(--color-black);
    border-radius: 50%;
}
.job__container {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 50%;
    text-align: center;
    background-color: var(--color-black);
}
.job__content {
    text-align: center;
    color: var(--color-beige);
    line-height: 28px;
    letter-spacing: 2px;
}
.stages__img{
    transform: scale(1, 1) rotate(110deg);
}
.stages__filter {
    max-width: 220px;
    
    img{
        width: 100%;
    }
}


// FOOTER ===================================================
.footer {
    background: var(--color-gray);
    color: var(--color-white);
}

.footer-nav {
    grid-template-columns: 1fr 1.2fr;
    margin: 70px 0 65px;
}

.footer__link {
    color: var(--color-white);
}

.footer-info {
    margin-bottom: 70px;
}
.footer-info__list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.footer-info__item {
    font-family: "Roboto", sans-serif;
}