.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
    align-items: stretch;
	min-height: 100%;
}

.inner{
    max-width: 1475px; 
    padding: 0 15px;
	margin: 0 auto;
}

// HEADER===================================================================================================================

.header {
    margin-top: 20px;
    
}

.nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;

}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-menu--right, .footer__item{
    a{
        &:hover{
            color: var(--color-beige);
        }
    }
}
.nav-item--icon{
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-link{
    font-family: "Roboto", sans-serif;
}
.nav-link--tel{
    font-family: Impact, serif;
}
.burger-menu {
    position: relative;
    display: none; 
    width: 55px;
    height: 36px;
    background:transparent;
}
.bar{
    display: block;
    width: 100%;
    height: 4px;
    margin: 9px auto;
    background: var(--color-black);
   
}


// MAIN =====================================================

.main {
    font-family: Roboto, sans-serif;
    margin-top: 15px;
    background: url(./img/main.png) no-repeat center 0%;
}

.main-hello {
    margin: 0 auto;
    text-align: center;
}
.main-title {
    text-align: center;
    h1{
        line-height: 105px;
        margin: 55px 0 30px;
    }
    h2{
        line-height: 80px;
    }
    span{
        color: transparent;
        -webkit-text-stroke: .0625rem #000;
        text-shadow: none;
    }
}
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.main-content__left {
}
.main-info {
    max-width: 440px;
}
.main-info__text {
    line-height: 24px;
    margin-bottom: 50px;
}
.main-info__post {
    color: var(--color-beige);
    font-style: italic;
    margin-bottom: 18px;
}
.main-info__name {
    color: var(--color-beige);
    font-weight: 500;
}
.main-info__signature {
}
.main-content__right {
    font-family: var(--font-family-base);
    font-size: 30px;
    line-height: 42px;
    max-width: 400px;
}
.main-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}



// FOOTER ===================================================
.footer {
    background: var(--color-gray);
    color: var(--color-white);
}

.footer-nav {
    grid-template-columns: 1fr 1.2fr;
    margin: 70px 0 65px;
}
.nav__title {
    
}

.footer-navbar {
   
}

.footer-menu {
}

.footer__item {
   
}

.footer__link {
    color: var(--color-white);
}



.footer-info {
    margin-bottom: 70px;
}
.footer-info__list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.footer-info__item {
    font-family: "Roboto", sans-serif;
}