.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
    align-items: stretch;
	min-height: 100%;
}

.inner{
    max-width: 1475px; 
    padding: 0 15px;
	margin: 0 auto;
}

// HEADER===================================================================================================================

.header {
    margin-top: 20px;
    
}

.nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;

}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-menu--right, .footer__item{
    a{
        &:hover{
            color: var(--color-beige);
        }
    }
}
.nav-item--icon{
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-link{
    font-family: "Roboto", sans-serif;
}
.nav-link--tel{
    font-family: Impact, serif;
}
.burger-menu {
    position: relative;
    display: none; 
    width: 55px;
    height: 36px;
    background:transparent;
}
.bar{
    display: block;
    width: 100%;
    height: 4px;
    margin: 9px auto;
    background: var(--color-black);
   
}


// MAIN =====================================================

.main {
    font-family: Roboto, sans-serif;
    margin-top: 15px;
    background: url(./img/main.png) no-repeat center 0%;
}

.main-hello {
    margin: 0 auto;
    text-align: center;
}
.main-title {
    text-align: center;
    h1{
        line-height: 105px;
        margin: 55px 0 30px;
    }
    h2{
        line-height: 80px;
    }
    span{
        color: transparent;
        -webkit-text-stroke: .0625rem #000;
        text-shadow: none;
    }
}
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.main-info {
    max-width: 440px;
}
.main-info__text {
    line-height: 24px;
    margin-bottom: 50px;
}
.main-info__post {
    color: var(--color-beige);
    font-style: italic;
    margin-bottom: 18px;
}
.main-info__name {
    color: var(--color-beige);
    font-weight: 500;
}

.main-content__right {
    font-family: var(--font-family-base);
    font-size: 30px;
    line-height: 42px;
    max-width: 400px;
}
.main-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

// STAGES===========================================

.stages{
    margin-top: 120px;
    margin-bottom: 180px;
}

.stages__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.stages__info {
    margin-top: 130px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}
.stages__column {
    position: relative;
}

.item-stage__header {
    display: flex;
    align-items: center;
    gap: 30px;
}
.item-stage__number {
    font-size: 5rem;
}

.item-stage__sub-title {
    margin:45px 0 30px;
}
.item-stage__finish-text {
    margin-bottom: 30px;
}
.item-stage__link {
    color: var(--color-beige);
    &::after{
        content: url(./img/Union.svg);
        margin-left: .25rem;
    }
}
.item-stage__pointer {
    display: none;
}

.job {
    display: flex;
    width: 160px;
    height: 160px;
    padding: 13px;
    border: 2px solid var(--color-black);
    border-radius: 50%;
}
.job--small{
    display: none;
}
.job__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 50%;
    text-align: center;
    background-color: var(--color-black);
}
.job__content {
    text-align: center;
    color: var(--color-beige);
    line-height: 28px;
    letter-spacing: 2px;
}
.stages__img{
    transform: scale(1, 1) rotate(110deg);
}
.stages__filter {
    max-width: 220px;
    
    img{
        width: 100%;
    }
}


// METTING ==================================================
.metting{
    margin-bottom: 150px;
}
.metting-content{
    position: relative;
}
.baners {
    position: relative;
    padding-left: 50px;
    padding-right: 10px;
    max-width: 1470px;
    height: 510px;
    background:var(--color-beige);
    border-radius: 0.4rem;
    margin: 300px 0 50px;
}
.baner__content{
    display: flex;
    justify-content: space-between;
}
.baner__info {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    max-width: 620px;
    width: 50%;
    h4{
        margin: 70px 0 45px;
    }
}
.baner__icon{
    max-width: 80px;
    width: 100%;
}
.baner__text{
    font-size: 1.2rem;
}
.baner__img {
    max-width: 700px;
    width: 50%;
    position: relative;
    top: -90px;
    img{
        width: 100%;
    height: 100%;
    object-fit: contain;
    }
}
.baner-btn{
    position: absolute;
    z-index: 1;
    top: 50%;
}
.baner-btn--right{
    right: -40px;
}
.baner-btn--left{
    left: -40px;
}

// GETTING===================================================

.getting__header, .getting__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.getting__main {
    align-items: flex-start;
}
.getting___text {
    margin-top: 100px;
    font-family: Roboto;
    font-size: 1.8rem;
    line-height: 90px;
    max-width: 1000px;
    width: 50%;
}
.getting___text--number {
    font-size: 3rem;
}
.getting__img {
    max-width: 530px;
    width: 50%;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.getting-btn{
    display: none;
}

// ADVANTAGES ===============================================
.advantages {
    position: relative;
    margin-bottom: 100px;
}

.advantages__job {
    position: absolute;
    right: 9rem;
    top: -5rem;
}

.advantages-top {
   margin-bottom: 100px;
}
.advantages-top__subtitle{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: var(--color-beige);
    font-style: italic;
    margin-bottom: 18px;
}
.advantages__columns{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin: 0 -3.75rem 3rem;
}
.advantages__column{
    display: flex;
    height: 180px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 3.75rem;
    &:nth-child(1), &:nth-child(3){
        border-right:1px solid var(--color-black);
    }
}
.advantages-item__text{
    font-family: "Roboto", sans-serif;
}
.advantages-item__link{
    color: var(--color-beige);
    svg{
        margin-left: 5px;
    }
}
.module{
    position: fixed;
    top: 50%;
    left: 25%;
    right: 10px;
    max-width: 520px;
    height: 290px;
    padding: 70px;
    border: 1px solid var(--color-black);
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
}
#overlayMenu2{
    left: 40%;
}
#overlayMenu3{
    left: 30%;
}
.module__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.module__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid var(--color-black);
    &::after, &::before{
        position: absolute;
        content: "";
        border: 2px solid var(--color-black);
        height: 90%;
        top: 3px;
        left: 23px;
    }
    &::after{
        transform: rotate(44.45deg);
    }
    &::before{
        transform: rotate(-45.55deg);
    }
    &:hover{
        border-color:var(--color-beige) ;
        &::after, &::before{
            border-color:var(--color-beige) ;
        }
    }
}
.module__text{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-align: center;
}

// UNIQUE ===================================================
.unique__header{
    span{
        color: var(--color-black);
    }
}

.unique {
    margin-bottom: 250px;
}

.unique__content {
    display:flex;
    gap: 100px;
    align-items: stretch;
    justify-content: space-between;
}
.unique__picture {
    max-width: 720px;
    max-height: 380px;
    width: 50%;
    background: rgba(48, 48, 48, 0.5);
    border-radius: 7px;
    img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 0.8;
        z-index: -1;
    }
}
.play{
    position: relative;
    top: -50%;
    left: 43%;
    border: 2px solid rgb(48, 48, 48);
    padding: 5px;
    width: 90px;
    height: 90px;

}
.play__container{
    background:var(--color-gray) ;
}

.unique__blog {
    max-width: 620px;
    width: 50%;
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}
.unique__text {
}
.uniqui__quote {
    font-style: italic;
    color: var(--color-beige);
}

// FOOTER ===================================================
.footer {
    background: var(--color-gray);
    color: var(--color-white);
}

.footer-nav {
    grid-template-columns: 1fr 1.2fr;
    margin: 70px 0 65px;
}

.footer__link {
    color: var(--color-white);
}

.footer-info {
    margin-bottom: 70px;
}
.footer-info__list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}